
@{
    ViewBag.Title = "Productos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container my-3">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb breadcrumb-chevron p-3 bg-body-tertiary rounded-3" style="background: #d7dee5; user-select: none;">
            <li class="breadcrumb-item">
                <a class="link-body-emphasis text-decoration-none text-dark" href="@Url.Action("Mantenimientos", "Mantenimiento")">
                    🛠️
                    Mantenimiento
                </a>
            </li>
            <li class="breadcrumb-item">
                📦
                Productos
            </li>
        </ol>
    </nav>
</div>
<!-- fin -->

<div class="card mb-4 shadow">
    <div class="card-header text-bg-primary bg-primary" style="background: #4e73df; user-select: none;">
        <i class="fas fa-boxes me-1"></i>
        Lista de Productos
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-12">
                <button type="button" class="btn btn-sm btn-outline-primary" onclick="btnabrirmodal(null)">
                    Registrar Producto &nbsp; <i class="fas fa-boxes me-1"></i>
                </button>
            </div>
        </div>
        <hr />
        <table id="tabla" class="display cell-border table table-striped py-2 rounded-3 table-bordered border-primary" style="width: 100%; user-select: none;">
            <thead class="text-center table-primary" style="user-select: none;">
                <tr>
                    <th>Nombre</th>
                    <th>Descripcion</th>
                    <th>Marca</th>
                    <th>Categoria</th>
                    <th>Precio</th>
                    <th>Stock</th>
                    <th>Estado</th>
                    <th>Opciones</th>
                </tr>
            </thead>
            <tbody class="text-center">
            </tbody>
        </table>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="abrirmodal" tabindex="-1" aria-labelledby="btnmodalLabel" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content border-primary">
            <div class="modal-header border-primary">
                <h1 class="modal-title fs-5 text-bg-primary rounded-2" id="btnmodalLabel">&nbsp; Productos <i class="fas fa-boxes me-1"></i> &nbsp;</h1>
                <button type="button" class="btn-close bg-primary" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <input id="prodid" type="hidden" value="0" />

                <form id="contenedor" class="row" autocomplete="off">

                    <div class="col-sm-4">
                        <div class="mb-3">
                            <img id="imgproducto" height="300" width="600" class="border rounded mx-auto d-block img-fluid" />
                        </div>
                        <div class="mb-3">
                            <input type="file" class="form-control" id="fileproducto" aria-label="file example" accept="image/png, image/jpg, image/jpeg" onchange="mostrarimg(this)">
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="txtnombre" placeholder="nombre" name="nombres">
                            <label for="txtnombre">Nombre</label>
                        </div>
                        <div class="form-floating mb-3">
                            <textarea class="form-control" placeholder="descripcion" id="txtdescripcion" style="height: 120px; resize: none;" name="descripciones"></textarea>
                            <label for="txtdescripcion">Descripcion</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="txtprecio" placeholder="precio" name="precios">
                            <label for="txtprecio">Precio</label>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="form-floating mb-3">
                            <select class="form-select" id="txtcategoria" name="categorias">
                            </select>
                            <label for="txtcategoria" class="form-label">Categoria</label>
                        </div>
                        <div class="form-floating mb-3">
                            <select class="form-select" id="txtmarca" name="marcas">
                            </select>
                            <label for="txtmarca" class="form-label">Marca</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="number" class="form-control" id="txtstock" placeholder="stock" name="stocks">
                            <label for="txtstock">Stock</label>
                        </div>
                        <div class="form-floating mb-3">
                            <select class="form-select" id="txtestado" required>
                                <option selected disabled value="">Elige un estado...</option>
                                <option value="1">Activar Producto 😀</option>
                                <option value="0">Desactivar Producto 😭</option>
                            </select>
                            <label for="txtestado" class="form-label">Estado</label>
                        </div>
                    </div>
                </form>

                <!--alerta-->
                <div class="row mt-3">
                    <div class="col-12">
                        <div id="mensajeError" class="alert alert-danger" role="alert">
                            <!--An example success alert with an icon-->
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button class="btn btn-primary" type="button" onclick="guardar()">Guardar Productos &nbsp; <i class="fas fa-boxes me-1"></i> </button>
            </div>
        </div>
    </div>
</div>
<!--fin modal-->

@section scripts {
    <script>
        var tabladata;
        var filaseleccionada;

        function mostrarimg(input) {
            if (input.files) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#imgproducto').attr("src", e.target.result).height(300).width(600)
                }
                reader.readAsDataURL(input.files[0]);
            }
        }

        tabladata = $("#tabla").DataTable({
            responsive: true,
            ordering: false,
            "ajax": {
                url: '@Url.Action("ListarProductos", "Mantenimiento")',
                type: "GET",
                dataType: "json"
            },
            "columns": [
                { "data": "nombre" },
                { "data": "Descripcion" },
                {
                    "data": "omarca", "render": function (data) {
                        return data.descripcion
                    }
                },
                {
                    "data": "ocategoria", "render": function (data) {
                        return data.descripcion
                    }
                },
                { "data": "precio" },
                { "data": "stock" },
                {
                    "data": "estado",
                    "render": function (valor) {
                        if (valor) {
                            return '<span class="badge text-bg-success py-2" style="user-select: none;">Producto Activado 😀</span>'
                        } else {
                            return '<span class="badge text-bg-danger py-2" style="user-select: none;">Producto Desactivado 😔</span>'
                        }
                    }
                },
                {
                    "defaultContent": '<button type="button" class="btn btn-outline-primary btn-sm btn-editar">Editar &nbsp; <i class="fas fa-pencil-alt"></i></button>' +
                        '<button type="button" class="btn btn-outline-danger btn-sm ms-2 btn-eliminar">Eliminar &nbsp; <i class="fas fa-trash-alt"></i></button>',
                    "orderable": false,
                    "searchable": false
                }
            ],
            "language": {
                "url": "https://cdn.datatables.net/plug-ins/1.13.6/i18n/es-ES.json"
            }
        });

        jQuery.ajax({
            url: '@Url.Action("ListarMarcas", "Mantenimiento")',
            type: "GET",
            data: null,
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                $("<option>").attr({ "value": "0", "disabled": "true" }).text("Elige una marca...").appendTo("#txtmarca");
                $.each(data.data, function (index, valor) {
                    $("<option>").attr({ "value": valor.idmarca }).text(valor.descripcion).appendTo("#txtmarca");
                })
            },
            error: function (error) {
                console.log(error)
            }
        });

        jQuery.ajax({
            url: '@Url.Action("ListarCategorias", "Mantenimiento")',
            type: "GET",
            data: null,
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                $("<option>").attr({ "value": "0", "disabled": "true" }).text("Elige una categoria...").appendTo("#txtcategoria");
                $.each(data.data, function (index, valor) {
                    $("<option>").attr({ "value": valor.idcategoria }).text(valor.descripcion).appendTo("#txtcategoria");
                })
            },
            error: function (error) {
                console.log(error)
            }
        });

        jQuery.validator.addMethod("preciodecimal", function (value, element) {
            return this.optional(element) || /^\d{0,4}(\.\d{0,2})?$/.test(value); //expresion regular
        }, "El Formato correcto del precio es ##.##");

        $("#contenedor").validate({
            rules: {
                nombres: {
                    required: true
                },
                descripciones: {
                    required: true
                },
                precios: {
                    required: true,
                    preciodecimal: true
                },
                stocks: {
                    required: true
                },
                categorias: {
                    required: true
                },
                marcas: {
                    required: true
                }
            },
            messages: {
                nombres: "- El campo nombre es obligatorio",
                descripciones: "- El Campo descripcion es obligatorio",
                precios: { required: "- El campo precio es obligatorio", preciodecimal: "-El formato correcto del precio es ##.##" },
                stocks: { required: "- El campo stock es obligatorio", preciodecimal: "- Debe ingresar solo numeros" },
                categorias: "- El campo categorias es obligatorio",
                marcas: "- El campo marcas es obligatorio",
            },
            errorElement: "div",
            errorLabelContainer: ".alert-danger"
        })

        //abrir modal
        function btnabrirmodal(json) {

            $("#prodid").val(0);
            $("#imgproducto").removeAttr("src");
            $("#fileproducto").val("");
            $("#txtnombre").val("");
            $("#txtdescripcion").val("");
            $("#txtprecio").val("");
            $("#txtmarca").val($("#txtmarca option:first").val());
            $("#txtcategoria").val($("#txtcategoria option:first").val());
            $("#txtstock").val("");
            $("#txtestado").val(1);
            $("#mensajeError").hide();

            if (json != null) {
                $("#prodid").val(json.idproducto);
                $("#txtnombre").val(json.nombre);
                $("#txtdescripcion").val(json.Descripcion);
                $("#txtprecio").val(json.precio);
                $("#txtmarca").val(json.omarca.idmarca);
                $("#txtcategoria").val(json.ocategoria.idcategoria);
                $("#txtstock").val(json.stock);
                $("#txtestado").val(json.estado == true ? 1 : 0);

                //traer img en el modal
                jQuery.ajax({
                    url: '@Url.Action("imgProductos", "Mantenimiento")',
                    type: "POST",
                    data: JSON.stringify({ id: json.idproducto }),
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        $("#imgproducto").LoadingOverlay("hide");
                        if (data.conversion) {
                            $("#imgproducto").attr({ "src": "data:image/" + data.extension + ";base64," + data.textobase64 });
                        }
                    },
                    error: function (error) {
                        $("#imgproducto").LoadingOverlay("hide");

                        $("#mensajeError").show();
                        $("#mensajeError").text("Error al Cargar la imagen");
                    },
                    beforeSend: function () {
                        $("#imgproducto").LoadingOverlay("show")
                    },
                });

            }
            $("#abrirmodal").modal("show");
        }

        /*
            * opcion editar
            * seleccionamos la seccion tr
        */
        $("#tabla tbody").on("click", '.btn-editar', function () {
            filaseleccionada = $(this).closest("tr");
            var data = tabladata.row(filaseleccionada).data();
            btnabrirmodal(data)
        })

        //eliminar
        $("#tabla tbody").on("click", '.btn-eliminar', function () {
            var prodseleccionada = $(this).closest("tr");
            var data = tabladata.row(prodseleccionada).data();

            swal({
                title: "¿Estas Seguro(a)?",
                text: "Desea Eliminar El Producto 🤔?",
                type: "warning",
                showCancelButton: true,
                confirmButtonClass: "btn-danger",
                confirmButtonText: "Si, Deseo Eliminar 🔠",
                cancelButtonText: "No, Cancelar 😅!",
                closeOnConfirm: false
            },
                function () {
                    jQuery.ajax({
                        url: '@Url.Action("EliminarProductos", "Mantenimiento")',
                        type: "POST",
                        data: JSON.stringify({ id: data.idproducto }),
                        dataType: "json",
                        contentType: "application/json; charset=utf-8",
                        success: function (data) {
                            if (data.resultado) {
                                tabladata.row(prodseleccionada).remove().draw();
                                swal("Eliminado!!", "El Producto Fue Eliminado Correctamente", "success");
                            } else {
                                swal("Cancelado", "Se ha cancelado la Operacion", "error");
                            }
                        },
                        error: function (error) {
                            console.log(error)
                        }
                    });
                });

            console.log(data);
        })

        //btn guardar
        function guardar() {

            if (!$("#contenedor").valid()) {
                return;
            }

            var imgseleccionada = $("#fileproducto")[0].files[0];
            var Producto = {
                idproducto: $("#prodid").val(),
                nombre: $("#txtnombre").val(),
                Descripcion: $("#txtdescripcion").val(),
                precio: $("#txtprecio").val(),
                precioTexto: $("#txtprecio").val(),
                omarca: {
                    idmarca: $("#txtmarca option:selected").val(),
                    descripcion: $("#txtmarca option:selected").text()
                },
                ocategoria: {
                    idcategoria: $("#txtcategoria option:selected").val(),
                    descripcion: $("#txtcategoria option:selected").text()
                },
                stock: $("#txtstock").val(),
                estado: $("#txtestado").val() == 1 ? true: false
            }

            var request = new FormData();
            request.append("objeto", JSON.stringify(Producto))
            request.append("archivoimg", imgseleccionada)

            jQuery.ajax({
                url: '@Url.Action("GuardarProductos", "Mantenimiento")',
                type: "POST",
                data: request,
                processData: false,
                contentType: false,
                success: function (data) {
                    $(".modal-body").LoadingOverlay("hide");
                    //producto nueva
                    if (Producto.idproducto == 0) {
                        if (data.idgenerado != 0) {
                            Producto.idproducto = data.idgenerado;
                            tabladata.row.add(Producto).draw(false);
                            $("#abrirmodal").modal("hide");
                        } else {
                            $("#mensajeError").text(data.mensaje);
                            $("#mensajeError").show();
                        }

                    } else { //editar producto
                        if (data.operacionExitosa) {
                            tabladata.row(filaseleccionada).data(Producto).draw(false);
                            filaseleccionada = null;
                            $("#abrirmodal").modal("hide");
                        } else {
                            $("#mensajeError").text(data.mensaje);
                            $("#mensajeError").show();
                        }

                    }
                },
                error: function (error) {
                    $(".modal-body").LoadingOverlay("hide");
                    $("#mensajeError").text("Error al Guardar los datos");
                    $("#mensajeError").show();
                },
                beforeSend: function () {
                    $(".modal-body").LoadingOverlay("show", {
                        imageResezeFactor: 2,
                        image: "",
                        fontawesome: "fas fa-spinner",
                        text: "Cargando ...",
                        size: 14
                    })
                }
            });
        }
    </script>
}

